<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/area.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (arr.length > 0) { %>
            <div class="grid">
                <% for (let area of arr) { %>
                    <article class="card area-one">
                        <header class="card__header">
                            <h1 class="area-name"><%= area.name %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= area.imgurl %>"
                                alt="<%= area.name %>">
                        </div>
                        <div class="card__content">
                            <h3 class="area-pincode">PINCODE: <%= area.pincode %></h3>
                        </div>
                        <div class="card__actions">
                            <a href="/prediction/<%= area.id %>" class="btn">Find Crops</a>
                            <a href="/area/<%= area.id %>" class="btn">Details</a>
                        </div>
                    </article>
                <% } %>
            </div>
            <!-- <input type="hidden" value="<%# userid %>" name="userId"> -->
        <% } else { %>
            <h1>No Areas Found!</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>